/*--------------------
Fonts
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*--------------------
Base css
---------------------*/
body{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}
p{
   font-size: 16px;
   color: #6C6C6C;
   font-weight: normal;
}
.button{
   background: #E02C6D;
   font-size: 16px;
   padding: 10px 24px;
   font-weight: 500;
   color: #fff;
   text-decoration: none;
   transition: .5s;
   margin-left: 5px;
}
.button:hover{
   color: #fff;
   background: black;
}

/*-----------------------
header
----------------------*/
header{
   background-color: #2D25A0;
}
.menu-bar{
   width: 90%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px;
}
.menu > ul{
   list-style: none;
}
.menu > ul > li{
   padding-left: 36px;
   display: inline;
}
.menu > ul > li > a{
   font-size: 16px;
   color: white;
   text-decoration: none;
   font-weight: 500;
}
.banner{
   width: 82%;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   padding: 80px 0px 50px 0px;
}
.banner-info{
   width: 490px;
   padding-left: 20px;
}
.banner-info a i{
   transition: .5s;
}
.banner-info a:hover i{
   transform: translate(10px,0px);
   transition: .5s;
}
.banner-info h2{
   max-width: 800px;
   font-size: 64px;
   color: white;
   line-height: 80px;
   margin-bottom: 25px;
}
.banner-img img{
   width: 550px;
   height: 440px;
}

/*------------------------
 Menu
-----------------------*/

/*-------------------------
 Blogs
-----------------------*/
.blogs{
   width: 80%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   grid-gap: 30px;
   padding: 70px 0px;
}
.blog{
   padding: 15px 15px;
   box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
   transform: translateY(0px);
   transition: transform .5s;
   margin-bottom: 20px;
}
.blog:hover{
   transform: translateY(-15px);
   box-shadow: 0 0 40px rgba(0, 0, 0, 0.534);
}
.blog-img .img-blog{
   width: 300px;
   height: 256px;
}
.blog-post-heading{
   font-size: 28px;
   line-height: 10px;
}

/*--------------------
 Subscribes
---------------------*/
.subscribes{
   width: 80%;
   background: black;
   margin: 0 auto;
   text-align: center;
   padding: 40px 40px;
}
.subscribe h2{
   color: white;
   line-height: 10px;
}
.subscribe p{
   max-width: 600px;
   margin: 0 auto;
   color: rgba(245, 245, 245, 0.856);
   font-weight: normal;
   margin-bottom: 20px;
}
.subscribe-input{
   padding-bottom: 20px;
}
.subscribe-input input{
   padding: 10px 20px;
}
.subscribe-input .email{
   width: 30%;
}
.subscribe-input .button{
   border: none;
   margin-left: 5px;
}

/*------------------------
 Latest video
-----------------------*/
.latest-videos{
   width: 80%;
   margin: 0 auto;
   padding: 70px 0px;
}
.latest-videos h2{
   font-size: 55px;
   margin-bottom: 20px;
}
.latest-video{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;justify-content: center;
}
.relative-video{
   box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.relative-video p{
   padding: 5px 15px 15px 15px;
}

/*----------------------
 footer
--------------------*/
footer{
   width: 80%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 70px;
   padding-bottom: 10px;
}
footer img{
   width: 400px;
   margin: 0 auto;
}
.footer-icon ul{
   list-style: none;
}
.footer-icon ul li{
   display: inline-block;
   margin-left: 14px;
}
.footer-icon ul li a{
   width: 80px;
   height: 50px;
   text-decoration: none;
   background-color: #969BAB;
   padding: 10px 15px;
   border-radius: 50%;
   color: rgba(0, 0, 0, 0.699);
}
footer .copyright{
   font-size: 18px;
   letter-spacing: 3px;
   padding-left: 55px;
}

/*-------------------------
responsive menu-bar
------------------------------ */
.responsive-menu{
   display: flex;
   justify-content: flex-end;
   background: #2D25A0;
   padding: 10px 0px;
   display: none;
   transition: .5s;
}
.responsive-menu i{
   color: #fff;
   font-size: 30px;
   margin-left: 10px;
   cursor: pointer;
}
#click{
   display: none;
}
#click:checked ~ .menu-bar{
   left: 0%;
}

/*----------------------------------------
   Media Queres
---------------------------------------*/

/*----------------------------------
 laptop
---------------------------*/
@media (max-width: 1050px) {
   .menu-bar{
      width: 100%;
      padding: 40px 0px;
      justify-content: space-around;
   }
   .banner{
      width: 100%;
      justify-content: space-evenly;
   }
   .banner-info h2{
      font-size: 45px;
   }
   .banner-img img{
      width: 400px;
      height: 350px;
   }
   .blogs{
      width: 100%;
      grid-gap: 10px;
   }
}
@media (max-width: 996px) {
   .blogs{
      width: 80%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
   }
   .latest-video{
      width: 100%;
      grid-template-columns: repeat(2,1fr);
      margin: 0 auto;
   }
}
@media (max-width: 840px) {
   .menu > ul > li{
      padding-left: 20px;
   }
}

/*-------------------------------
 mobile
-----------------------------*/
@media (max-width: 767px) {
   .responsive-menu{
      display: block;
      position: absolute;
      width: 100%;
      transition: .6s;
   }
   #click:checked ~ .responsive-menu{
      background-color: black;
      transition: .5s;
   }
   #click:checked ~ .responsive-menu i:before{
      content: "\f00d";
      background-color: black;
   }
   .menu-bar{
      display: block;
      position: absolute;
      top: 40px;
      left: -100%;
      background: #111;
      height: 100vh;
      text-align: center;
      transition: all .5s ease;
   }
   .menu > ul{
      padding-left: 0px;
   }
   .menu > ul > li{
      display: block;
      padding-left: 0px;
      margin-bottom: 10px;
   }
   .menu > ul > li > a{
      font-size: 30px;
   }
   .banner{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 15px;
   }
   
   .banner-info{
      text-align: left;
      margin-bottom: 50px;
   }
   .banner-info h2{
    font-size: 45px;  
   }
   .blogs, .latest-video{
      width: 80%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
   }
   .blog-img .img-blog{
      width: 100%;
      height: 450px;
   }
   .blog-post-heading{
      font-size: 28px;
      line-height: 0px;
      margin-bottom: 10px;
   }
   .latest-videos{
      padding: 10px 0px;
   }
   .latest-video{
      width: 100%;
   }
   .latest-videos .latest-video-heading{
      text-align: center;
      font-size: 45px;
   }
}
@media (max-width: 510px) {
   .banner-info{
      width: 100%;
      padding-left: 0px;
   }
   .banner-img img{
      width: 300px;
      height: 250px;
   }
   .blog-img .img-blog{
      width: 100%;
      height: 350px;
   }
   .blog-post-heading{
      font-size: 25px;
      line-height: 0px;
      margin-bottom: 10px;
   }
   .subscribe p{
      font-size: 14px;
   }
   .subscribe-input{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .subscribe-input .email{
      width: 80%;
      margin-bottom: 10px
   }
   footer{
      width: 100%;
   }
   footer img{
      width: 200px;
      margin: 0 auto;
   }
   .footer-icon ul li{
      display: inline-block;
      margin-left: 5px;
   }
   .footer-icon ul li a{
      font-size: 14px;
      padding: 6px 10px;
   }
   footer .copyright{
      font-size: 16px;
      letter-spacing: 3px;
      padding-left: 55px;
   }
}